@model Will_Blog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<br>
<section class="page-top-section set-bg" data-setbg="/img/page-top-bg.jpg">
    <div class="container">
        <h2>Recipe</h2>
    </div>
</section>





<!-- Search section -->
<div class="search-form-section">
    <div class="sf-warp">
        <div class="container">
            <form class="big-search-form">
                <select>
                    <option>All Recipes Categories</option>
                    <option>Pizza</option>
                    <option>Salads</option>
                    <option>Desserts</option>
                    <option>Side Dishes</option>
                </select>
                <select>
                    <option>All Ingredients</option>
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                </select>
                <input type="text" placeholder="Search Receipies">
                <button class="bsf-btn">Search</button>
            </form>
        </div>
    </div>
</div>
<!-- Search section end -->
<!-- Single Blog Thumbnail -->
<div class="recipe-view-section">
    <div class="rv-warp set-bg img-responsive" data-setbg="/img/recipes/single-big.jpg"></div>
</div>
@*@{ 
    var PostImage;
    if (Model.MediaUrl != null)
    {
        PostImage = Model.MediaUrl;
    }
}*@

<!-- Recipe details section -->
<section class="recipe-details-section">
    <div class="container">
        <div class="recipe-meta">
            <div class="racipe-cata">
                <h3>@Model.Abstract</h3>
            </div>
        </div>
        <div class="recipe-date"></div>
        <span>@Model.Created.ToString("MM/dd/yyyy")</span>
        <div class="row">
            <div class="col-lg-5">
                <div class="recipe-filter-warp">
                    <div class="filter-top">
                        <div class="filter-top-text">
                            <p>@Model.Title</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <ul class="recipe-info-list">
                        <li>
                            <p>@Html.Raw(Model.Body)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recipe details section end -->
<!-- Comment section -->
<section class="comment-section spad pt-0">
    <div class="container">
        <h4>Leave a comment</h4>
        <form class="comment-form">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="E-mail">
                </div>
                <div class="col-md-12">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>
                    <button class="site-btn">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Comment section -->


<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Abstract)
            </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Abstract)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Slug)
            </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.MediaUrl)
            </dt>*@

        <dd>
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Published)
            </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>