@using PagedList;
@using PagedList.Mvc;
@using Will_Blog.Models;
@model IPagedList<BlogPost>
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

@foreach (var item in Model)
{

    <div class="col-lg-4 col-md-6">
        <div class="recipe">
            <img src="~/img/recipes/1.jpg" alt="">
            <div class="recipe-info-warp">
                <div class="recipe-info">
                    <a href="@Url.Action("Details", "BlogPosts", new { slug = item.Slug })"><h3>@item.Title</h3></a>
                    <div class="rating">
                        @item.Abstract
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
                    <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Posts.Id }) |
                    @Html.ActionLink("Details", "Details", new { slug = item.Slug }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </p>
        }*@

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }));
